ca-certificates.crt
vendor/
.idea/
*.out
git-hack.sh
*.crt
*.key
*.csr
*.srl
*.test
debug
launch.json
settings.json
*.so
*.pem
*.log
LICENSE_*
.cover/
torch.svg
/kanali

# helm
helm/charts/*.tgz
helm/requirements.lock